/* BODY SECTION */

body {
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    margin: 0 5% 1% 5%;
    display: inline-flex;
}

a,
a:visited,
a:hover {
    color: #36c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/*LEFT SIDE*/

.left-alignment {
    width: 25%;
    text-align: right;
    padding: 25px;
    margin-top: 5%;
}
.left-alignment ul{
    list-style: none;
    padding: 0;
}
.left-alignment ul li {
    margin-bottom: 15px;
}
.left-alignment h3 {
    font-size: 32px;
    letter-spacing: 3px;
    margin-top: 14%;
    font-weight: 700;
}

.left-alignment h4 {
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 20%;
}

.left-alignment a {
    font-size: 16px;
}

.left-alignment span {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.left-alignment ul.skills li {
    padding: 10px;
    line-height: 27px;
    margin: 0;
}

.skills-heading {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
    font-weight: 600;
}



/*RIGHT SIDE*/

.right-alignment {
    width: 75%;
    text-align: left;
    padding: 25px;
}
.right-alignment h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}
.work-experience{
    margin: 15px 0;
}
.work-experience h4 {
    font-size: 20px;
    margin: 0;
    padding:10px 0;
    font-weight: 500;
}
.work-experience span{
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}
.work-experience p{
    font-size: 16px;
    margin:10px 0;
    line-height: 23px;
}
.mywork{
    margin-top: 3%;
}
.skills-honors h3{
    border:none;
}
.half-block{
    width: 50%;
    float: left;
}
.half-block ul{
    list-style: none;
    padding: 0;
}
.half-block ul li {
    padding: 5px 0;
}

.side-projects ul {
    padding: 0;
}

.side-projects li{
    list-style: none;
}

.side-projects h4 {
    display: inline-block;
    padding-bottom: 0;
}

.side-projects p {
    display: inline;
    margin-left: 10px;
}

.side-projects span {
    display: block;
    margin-top: 5px;
}

@media screen and (max-width: 1023px) {
    body,
    .main-container {
        margin: 0;
        display: block;
    }

    .left-alignment,
    .right-alignment {
        width: 100%;
        padding: 25px;
        text-align: left;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;
    }

    .right-alignment {
        border: 0;
    }

    .mywork {
        margin: 0;
        margin-bottom: 30px;
    }

    .right-alignment h3 {
        padding: 0 0 15px 0;
    }

    .work-experience p {
        line-height: 27px;
    }

    .left-alignment ul.skills li {
        padding: 5px 0;
    }
}

@media print {
    body,
    .main-container {
        margin: 2%;
        word-wrap:break-word;
    }

    .about a {
        font-size: 13px;
    }
    
    .about a[href^=http]:not(.no-link):after{
        content: " : " attr(href);
        color: #000;
        text-align: left;
    }

    p,li,div {
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
    }
}